
// good for responsive images
.responsive
{
	max-width : 100%; 
	height    : auto;
} 

// ----------------------------------
// mixins
// ----------------------------------

// ______________________________________________________________
//                                           responsive-max-width

// set your max document width
// mix-responsivePercentage(327);
$responsive-max-width: 640;
@function mix-responsivePercentage($n)
{
	@return percentage($n / $responsive-max-width);
}


// ______________________________________________________________
//                                                 mix-divideHalf
@function mix-divideHalf($n)
{
	@return $n / 2 + px;
}

// ______________________________________________________________
//                                                   mix-timesTwo
@function mix-timesTwo($n)
{
	@return $n * 2 + px;
}


// ----------------------------------
// font inheritance
// ----------------------------------
.responsive-text
{
	font-size: 1em;

    @media only screen and (max-width: 600px) 
    {
      	font-size: .5em;        
    }

}


// ----------------------------------
// specific fonts
// ----------------------------------

.font-10
{
	font-size: mix-timesTwo(10);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 10px;
	}	
}

.font-11
{
	font-size: mix-timesTwo(11);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 11px;
	}	
}

.font-12
{
	font-size: mix-timesTwo(12);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 12px;
	}	
}

.font-13
{
	font-size: mix-timesTwo(13);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 13px;
	}	
}

.font-14
{
	font-size: mix-timesTwo(14);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 14px;
	}	
}

.font-16
{
	font-size: mix-timesTwo(16);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 16px;
	}	
}

.font-18
{
	font-size: mix-timesTwo(18);	

	@media only screen and (max-width: 600px) 
	{
		font-size: 18px;
	}	
}

.font-20
{
	font-size: mix-timesTwo(20);

	@media only screen and (max-width: 600px) 
	{
		font-size: 20px;
	}	
}

.font-21
{
	font-size: mix-timesTwo(21);

	@media only screen and (max-width: 600px) 
	{
		font-size: 21px;
	}	
}

.font-22
{
	font-size: mix-timesTwo(22);

	@media only screen and (max-width: 600px) 
	{
		font-size: 22px;
	}	
}

.font-23
{
	font-size: mix-timesTwo(23);

	@media only screen and (max-width: 600px) 
	{
		font-size: 23px;
	}		
}

.font-28
{
	font-size: mix-timesTwo(28);

	@media only screen and (max-width: 600px) 
	{
		font-size: 28px;
	}	
}

.font-38
{
	font-size: mix-timesTwo(38);

	@media only screen and (max-width: 600px) 
	{
		font-size: 38px;
	}	
}


.font-50
{
	font-size: mix-timesTwo(50);

	@media only screen and (max-width: 600px) 
	{
		font-size: 50px;
	}	
}