<header>
	<img src="Content/images/global/blue.jpg"/>
	<div class="author"><span style="font-size: 11px">by</span> Thom 'Dupp' Duppstadt</div>
	<div class="tagline">Back to your Roots</div>
	<div class="summary">It's called Blue, as in 'Blue Collar', a simple, layman's approach to a framework that just helps you organize and engineer large scale or small applications from the ground up using a vanilla JS OOP style approach.
	</div>

</header>		

<div class="content font-verdana">
	<p><strong>Features:</strong></p>
	<ul>
		<li>Built on JQuery, RequireJS, doT, Validate, Grunt, SASS.</li>

		<li>Flexible for multi-page or pageless designs using routes through custom hash management. </li>

		<li>JSON configurations are loaded into the model. An environment variable is used to compare against the url to determine your environment specific properties like API service URLs. It is also used for custom environment behaviors like disabling console log in production.</li>

		<li>Ability to work using minified or un-minified JS for faster development and troubleshooting.</li>
		
		<li>Query strings are used for debug modes.</li>

		<li>Form handling and validation using Validate, including inline validation capability when input is off focus.</li>

		<li>Modal handling using dynamic templates.</li>

		

		<li>The custom build script calling Grunt tasks offer these options:
			<ul>
				<li>Min/concat JS and templates and creates source maps for debugging</li>
				<li>Cache busting for js, json, and css files</li>
				<li>Compile doT templates to JS</li>
				<li>Compress PNG</li>
				<li>Create spritesheets and generate SASS files</li>
				<li>Watch and compile SCSS</li>
			</ul>
		</li>

		<li>This shows the general flow for different compenents. <a href="http://tduppstadt.com/Content/images/global/blue-flow-full.jpg" target="_blank">blue-flow-full.jpg</a></li>

	</ul>

	<p class="download-me"><strong>Download the framework here: </strong><a href="https://github.com/tduppstadt/Blue-Distribute" target="_blank">https://github.com/tduppstadt/Blue-Distribute</a></p>
</div>