/* line 3, src/scss/support/responsive.scss */
.responsive {
  max-width: 100%;
  height: auto;
}

/* line 43, src/scss/support/responsive.scss */
.responsive-text {
  font-size: 1em;
}
@media only screen and (max-width: 600px) {
  /* line 43, src/scss/support/responsive.scss */
  .responsive-text {
    font-size: .5em;
  }
}

/* line 59, src/scss/support/responsive.scss */
.font-10 {
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  /* line 59, src/scss/support/responsive.scss */
  .font-10 {
    font-size: 10px;
  }
}

/* line 69, src/scss/support/responsive.scss */
.font-11 {
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  /* line 69, src/scss/support/responsive.scss */
  .font-11 {
    font-size: 11px;
  }
}

/* line 79, src/scss/support/responsive.scss */
.font-12 {
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  /* line 79, src/scss/support/responsive.scss */
  .font-12 {
    font-size: 12px;
  }
}

/* line 89, src/scss/support/responsive.scss */
.font-13 {
  font-size: 26px;
}
@media only screen and (max-width: 600px) {
  /* line 89, src/scss/support/responsive.scss */
  .font-13 {
    font-size: 13px;
  }
}

/* line 99, src/scss/support/responsive.scss */
.font-14 {
  font-size: 28px;
}
@media only screen and (max-width: 600px) {
  /* line 99, src/scss/support/responsive.scss */
  .font-14 {
    font-size: 14px;
  }
}

/* line 109, src/scss/support/responsive.scss */
.font-16 {
  font-size: 32px;
}
@media only screen and (max-width: 600px) {
  /* line 109, src/scss/support/responsive.scss */
  .font-16 {
    font-size: 16px;
  }
}

/* line 119, src/scss/support/responsive.scss */
.font-18 {
  font-size: 36px;
}
@media only screen and (max-width: 600px) {
  /* line 119, src/scss/support/responsive.scss */
  .font-18 {
    font-size: 18px;
  }
}

/* line 129, src/scss/support/responsive.scss */
.font-20 {
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  /* line 129, src/scss/support/responsive.scss */
  .font-20 {
    font-size: 20px;
  }
}

/* line 139, src/scss/support/responsive.scss */
.font-21 {
  font-size: 42px;
}
@media only screen and (max-width: 600px) {
  /* line 139, src/scss/support/responsive.scss */
  .font-21 {
    font-size: 21px;
  }
}

/* line 149, src/scss/support/responsive.scss */
.font-22 {
  font-size: 44px;
}
@media only screen and (max-width: 600px) {
  /* line 149, src/scss/support/responsive.scss */
  .font-22 {
    font-size: 22px;
  }
}

/* line 159, src/scss/support/responsive.scss */
.font-23 {
  font-size: 46px;
}
@media only screen and (max-width: 600px) {
  /* line 159, src/scss/support/responsive.scss */
  .font-23 {
    font-size: 23px;
  }
}

/* line 169, src/scss/support/responsive.scss */
.font-28 {
  font-size: 56px;
}
@media only screen and (max-width: 600px) {
  /* line 169, src/scss/support/responsive.scss */
  .font-28 {
    font-size: 28px;
  }
}

/* line 179, src/scss/support/responsive.scss */
.font-38 {
  font-size: 76px;
}
@media only screen and (max-width: 600px) {
  /* line 179, src/scss/support/responsive.scss */
  .font-38 {
    font-size: 38px;
  }
}

/* line 190, src/scss/support/responsive.scss */
.font-50 {
  font-size: 100px;
}
@media only screen and (max-width: 600px) {
  /* line 190, src/scss/support/responsive.scss */
  .font-50 {
    font-size: 50px;
  }
}
